@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inconsolata), Arial, Helvetica, sans-serif;
}